In [7]:
!pip install pyarrow
!pip install fastparquet

Collecting pyarrow
  Downloading pyarrow-11.0.0-cp39-cp39-win_amd64.whl (20.6 MB)
Requirement already satisfied: numpy>=1.16.6 in c:\users\donal\anaconda3\lib\site-packages (from pyarrow) (1.21.5)
Installing collected packages: pyarrow
Successfully installed pyarrow-11.0.0
Collecting pyarrow
  Using cached pyarrow-11.0.0-cp39-cp39-win_amd64.whl (20.6 MB)
Requirement already satisfied: numpy>=1.16.6 in c:\users\donal\anaconda3\lib\site-packages (from pyarrow) (1.21.5)
Installing collected packages: pyarrow
Successfully installed pyarrow-11.0.0

In [2]:
import pandas as pd
df = pd.read_csv('train_transaction.csv')
df.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
df.to_parquet('train_transaction.parquet', engine='auto', compression='snappy')
print('done')

done

In [5]:
import os

file_name = "train_transaction.parquet"
file_stats = os.stat(file_name)

print(file_stats)
print(f'File Size in Bytes is {file_stats.st_size}')
print(f'File Size in MegaBytes is {file_stats.st_size / (1024 * 1024)}')

os.stat_result(st_mode=33206, st_ino=844424930283009, st_dev=2022705381, st_nlink=1, st_uid=0, st_gid=0, st_size=75889401, st_atime=1676841390, st_mtime=1676841378, st_ctime=1676841356)
File Size in Bytes is 75889401
File Size in MegaBytes is 72.37377262115479

Can't be uploaded to github because of size. So we uploaded to Google Drive, try to read from here.

In [6]:
url = r'https://drive.google.com/file/d/1EznuwPohSIzh0HZn5Fy0K5NApK3W4Clf/view?usp=share_link'
url = 'https://drive.google.com/uc?id=' + url.split('/')[-2]
df_transaction = pd.read_parquet(url)
df_transaction.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0